body, html{ width:100%; height:100%; padding: 0; margin: 0;}
section{ width: 100%; height: 100%;}
#canvas {
    background-color: #000;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: 100px;
    padding: 0px;
    position: relative; /* fixed or static */
    top: 40px;
    left: 400px;
}
#background {
    background-color: #2b669a;
}
.content {
    padding-top: 50px;
    background-image: url("telet.jpg");
    background-size: 100% 130%;
    background-color: #cccccc;
    overflow: hidden;
}
